body{
    color:black;
}
/**Header**/
#header-container{
    width: 100%;
    padding:0;
}
#header{
    margin: 0;
}
.navbar-header{
    background-color:  #949494;
    border: 1px solid black;
    width: 100%;
}
.navbar a{
    text-align: center;
}
.navbar{
    border:0;
}

.navbar .navbar-header .navbar-brand h1{
    margin: 0 0 0 20px;
    font-size: 26px;
    color: black;
}

.navbar .navbar-header .navbar-brand {
    margin: 0;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color:black;
}
.navbar-default .navbar-toggle{
    border-color: black;
}


ul.navbar-nav li a{
    border: 1px solid black;
}
.navbar-collapsed{
    margin-top: -8px;
    

}
/** END HEADER**/

#Top h2{
    margin-bottom: 30px;
    font-size: 26px;

}

#food-section {
    background-color:  #949494;
    margin-bottom: 20px;
}
#food-section p{
    padding: 10px 5px 5px 5px;
}

@media(max-width:576px){
    #section-chicken{
        margin-left: 35px;
        margin-right: 35px;
    }
}